@using MVCMusicStore.Models
@model MVCMusicStore.ViewModels.ArtistAlbumsViewModel
@{
    ViewBag.Title = "List";
}

<h2>List of albums of @Model.Artist.Name, total: @Model.Albums.Count()</h2>

<ul>
    @foreach (Album a in Model.Albums)
    {
        <li>@a.Title</li>
    }
</ul>